@font-face {
  font-family: cocogoose;
  src: url(font/Cocogoose_trial.ttf);
}

@font-face {
  font-family: lato;
  src: url(/Lato-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #d3d3d3;
}

.menu_btn {
  background: none;
  outline: none;
  border: none;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 20px;
  position: fixed;
  color: #272a31;
}

.headline {
  background-image: url(img/background_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.headline_container {
  padding-top: 100px;
  padding-left: 20px;
  padding-bottom: 54px;
  background-color: rgba(255, 255, 255, 0.9);
}

.hello {
  color: #ec5242;
  font-family: lato, sans-serif;
  font-size: 15px;
}

.headline_header_container {
  background-image: url(img/background_2.png);
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
}

.headline_header {
  text-transform: uppercase;
  max-width: 450px;
  margin-top: 10px;
  font-family: cocogoose, sans-serif;
  font-size: 35px;
  line-height: 35px;
}

.headline_description {
  max-width: 450px;
  margin-top: 20px;
  padding: 10px;
  border: solid 3px #fff;
  font-family: lato, sans-serif;
}

.headline_date {
  font-family: cocogoose, sans-serif;
  font-size: 24px;
  color: #272a31;
  margin-top: 20px;
}

.headline_place {
  font-family: lato, sans-serif;
  font-size: 15px;
  color: #272a31;
}
