@font-face {
  font-family: cocogoose;
  src: url(../font/Cocogoose_trial.ttf);
}

@font-face {
  font-family: lato;
  src: url(../font/Lato-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  max-width: 100vw;
}

body {
  font-family: lato, sans-serif;
  font-size: 15px;
}

header {
  background-color: #fff;
}

.menu_btn {
  background: none;
  outline: none;
  border: none;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 20px;
  color: #272a31;
}

.logo {
  display: none;
}

.close_btn {
  font-size: 30px;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 2;
}

.nav_menu {
  display: none;
}

.top_nav {
  display: none;
}

.nav_menu_mobile {
  z-index: 1;
  display: none;
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  background-image: url(../img/background_1.png);
  background-size: cover;
}

.nav_mobile {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.8);
  top: 0;
  bottom: 0;
  position: fixed;
  width: 100vw;
  list-style: none;
}

.nav_item_mobile {
  margin: 15px;
}

.nav_link_mobile {
  color: #272a31;
  font-size: 25px;
}

/* main section */
.headline {
  background-image: url(../img/background_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.headline_container {
  padding-top: 100px;
  padding-left: 20px;
  padding-bottom: 54px;
  background-color: rgba(255, 255, 255, 0.9);
  height: 100vh;
}

.hello {
  color: #ec5242;
  font-family: lato, sans-serif;
  font-size: 15px;
}

.headline_header_container {
  background-image: url(../img/background_2.png);
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  background-size: 100vw;
  background-clip: border-box;
  -webkit-background-clip: text;
}

.headline_header {
  text-transform: uppercase;
  max-width: 80%;
  margin-top: 20px;
  font-family: cocogoose, sans-serif;
  font-size: 35px;
  line-height: 35px;
}

.headline_description {
  max-width: 80%;
  margin-top: 40px;
  padding: 10px;
  border: solid 3px #fff;
  font-family: lato, sans-serif;
  line-height: 24px;
  font-size: 17px;
}

.headline_date {
  font-family: cocogoose, sans-serif;
  font-size: 24px;
  color: #272a31;
  margin-top: 40px;
}

.headline_place {
  font-family: lato, sans-serif;
  font-size: 15px;
  color: #272a31;
}

/* program section */

.main_section {
  background-image: url(../img/background3.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_section .fa,
.fab {
  font-size: 40px;
  color: #ec5242;
  margin-right: 10px;
}

.main_header {
  font-family: lato, sans-serif;
  font-size: 20px;
  margin-top: 40px;
  color: #fff;
}

.main_section hr {
  border-color: #ec5242;
  width: 35px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main_program_act {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  padding: 20px;
  background-color: rgba(52, 55, 65, 0.6);
  width: 95%;
}

.program_act {
  color: #ec5242;
  margin-right: 10px;
}

.program_act_description {
  max-width: 300px;
  color: #fff;
}

.main_program_btn {
  background-color: #ec5242;
  color: #fff;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
  border-radius: 1px;
  border: none;
  width: 70%;
  font-size: 20px;
}

.main_program_btn:hover {
  background-color: #fff;
  color: #272a31;
}

/* participants section */

.participants_section {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.participants_header {
  font-family: lato, sans-serif;
  font-size: 20px;
  margin-top: 40px;
  color: #272a31;
}

.participants_section hr {
  border-color: #ec5242;
  width: 35px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.participants_group {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.participant hr {
  border-color: #d3d3d3;
  width: 20px;
  margin-bottom: 15px;
}

.participant {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-left: 30px;
}

.participant_dots {
  width: 50px;
  margin-right: 80px;
}

.participant_picture {
  width: 100px;
  height: 100px;
  border-radius: 3px;
  position: relative;
  left: 20px;
  top: -35px;
}

.participant_style {
  color: #ec5242;
}

.participant_about {
  max-width: 400px;
  color: #272a31;
}

.participants_btn {
  background-color: #fff;
  color: #3d3d3d;
  padding: 17px;
  margin-top: 50px;
  outline: none;
  border-radius: 1px;
  border: 1px solid #3d3d3d;
  width: 90%;
  font-size: 15px;
}

.participants_btn:hover {
  background-color: #ec5242;
  color: #fff;
  border: 1px solid #ec5242;
}

.participants_btn i {
  padding-left: 10px;
}

/* partners section */
.partners {
  padding-top: 30px;
  background-color: #3d3d3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partners_header {
  font-family: lato, sans-serif;
  font-size: 20px;
  color: #fff;
}

.partners hr {
  border-color: #ec5242;
  width: 35px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.partners_logos {
  padding: 30px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.partner_logo {
  width: 150px;
}

/* footer */
.footer {
  padding: 20px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 12px;
  font-family: cocogoose, sans-serif;
  color: #3d3d3d;
}

.footer_logo {
  width: 100px;
}

button:hover {
  cursor: pointer;
}

@media only screen and (min-width: 624px) {
  .participant_dots {
    margin-right: 0;
  }

  .participant_picture {
    left: -35px;
    top: 65px;
  }
}

@media only screen and (min-width: 768px) {
  .top_nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: #272a31;
  }

  .top_nav_items {
    display: flex;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  .top_nav_item {
    margin: 10px;
  }

  .top_nav_link {
    color: #d3d3d3;
    text-decoration: none;
    font-size: 15px;
  }

  .header {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav_mobile {
    display: none;
  }

  .nav_menu {
    display: flex;
    flex-direction: row;
    width: 500px;
    position: static;
    background-image: none;
  }

  .nav {
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    top: 0;
    position: static;
    width: 100vw;
    list-style: none;
    font-size: 10px;
  }

  .nav_item {
    margin: 15px;
  }

  .nav_link {
    font-size: 17px;
    text-decoration: none;
    color: #272a31;
  }

  .nav_link:hover {
    cursor: pointer;
    color: #ec5242;
  }

  .close_btn {
    display: none !important;
  }

  .logo {
    display: block;
    width: 100px;
  }

  .menu_btn {
    display: none;
  }

  /* headline section */
  .headline_container {
    padding-left: 250px;
  }

  .headline_header {
    font-size: 50px;
    line-height: 50px;
  }

  .headline_description {
    border: solid 5px #fff;
    font-size: 20px;
  }

  .headline_date {
    font-size: 31px;
  }

  .headline_place {
    font-size: 20px;
  }

  /* program section */
  .main_section_program {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 90%;
  }

  .main_program_act {
    flex-direction: column;
    border: 2px solid transparent;
    text-align: center;
  }

  .main_program_act:hover {
    border: 2px solid #fff;
  }

  .program_act {
    margin-top: 15px;
  }

  .program_act_description {
    margin-top: 15px;
  }

  .main_program_btn {
    background-color: transparent;
    color: #d3d3d3;
    text-decoration: underline;
    font-size: 25px;
  }

  /* participant section */
  .participants_group {
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* footer */
  .footer {
    font-size: 15px;
    justify-content: center;
    padding: 30px;
  }

  .footer_logo {
    width: 150px;
    margin-right: 200px;
  }
}
